<%- include("partials/header", {title: title}) %>
        <h1><%= title %></h1>
        <div class="message-board">
            <ul>
                <% messages.forEach(message => { %>
                    <li>
                        <p>User: <%= message.user %></p>
                        <p>Message: <%= message.text %></p>
                        <p>Time: <%= message.added %></p>
                    </li>
                <% }) %>
            </ul>
        </div>
<%- include("partials/footer") %>