<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1><%= title %></h1>
        <div class="message-board">
            <ul>
                <% messages.forEach(message => { %>
                    <li>
                        <p>User: <%= message.user %></p>
                        <p>Message: <%= message.text %></p>
                        <p>Time: <%= message.added %></p>
                    </li>
                <% }) %>
            </ul>
        </div>
    </body>
</html>