<%- include("partials/header", {title: title}) %>
<div class="page-container">
        <h1><%= title %></h1>
        <div class="message-board">
            <ul>
                <% messages.forEach(message => { %>
                    <li>
                        <p>User: <%= message.user %></p>
                        <p><%= message.preview %></p>
                        <a href="/messages/<%= messages.indexOf(message) %>" class="card-link"></a>
                    </li>
                <% }) %>
            </ul>
        </div>
</div>
<%- include("partials/footer") %>